# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
venv/
env/
.env
*.egg-info/

# Django
staticfiles/
media/
logs/
*.sqlite3

# Node
node_modules/
dist/
.npm

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp

# Secrets
*.key
*.pem
